body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-image: url("https://c1.wallpaperflare.com/preview/369/35/794/street-photography-night-photography-cyberpunk-vaporwave.jpg");
    background-size: 1920px 1080px;
    background-position: center;
    height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    position: relative;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    backdrop-filter: blur(25px); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 60px;
	margin-bottom: 40px; 
	z-index: 1;
}

h1 {
    color: #34BEFE;
    font-size: 55px;
    font-weight: bold;
	font-family: 'Protest Riot', sans-serif;
}


.todo-container {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20PX 60px;
    width: 800px;
	margin-top: 20px;
	
}

.todo-list {
    list-style-type: none;
    padding: 0;
	font-family: 'Protest Riot', sans-serif;
}

.todo-list li {
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
	display: flex;
	align-items: center;
}

.clear-button {
    font-family: 'Protest Riot', sans-serif;
	font-size: 20px;
    background-color: #FE343A;
    color: white;
    padding: 10px 20px; 
    margin-top: 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #74FE34; 
}


.todo-label {
	display: flex;
	align-items: center;
	margin-left: 10px;
	color: white;
	
	font-family: 'Protest Riot', sans-serif;
}
.todo-label input[type="text"],
.todo-label input[type="number"] {
	display: inline-block;
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F534FE;
    font-size: 20px;
    font-family: 'Protest Riot', sans-serif;
}
.todo-list input[type="text"] {
    width: calc(100% - 10px); 
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #FE34F2;
	font-size: 22px;
	font-family: 'Protest Riot', sans-serif;
}

.todo-list input[type="checkbox"] + label {
    margin-right: 10px;
	
}




.new-task-button {
    font-family: 'Protest Riot', sans-serif;
	font-size: 20px;
    background-color: #FEB534;
    color: white;
    padding: 10px 20px; 
    margin-top: 30px; 
    margin-left: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-task-button:hover {
    background-color: #34FEC7; 
}


